# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

config.mjs

{
  "data": {
    "name": "InspireInk",
    "email": "InspireInk@stud.noroff.no",
    "password": "InspireInk",
    "bio": null,
    "name-key": "API Key",
    "status": "ACTIVE",
    "key": "d6d259ac-0b1e-4a5e-afcc-ae383ec589d5",
    "avatar": {
      "url": "https://images.unsplash.com/photo-1579547945413-497e1b99dac0?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&q=80&h=400&w=400",
      "alt": "A blurry multi-colored rainbow background"
    },
    "banner": {
      "url": "https://images.unsplash.com/photo-1579547945413-497e1b99dac0?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&q=80&h=500&w=1500",
      "alt": "A blurry multi-colored rainbow background"
    },
    "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiSW5zcGlyZUluayIsImVtYWlsIjoiSW5zcGlyZUlua0BzdHVkLm5vcm9mZi5ubyIsImlhdCI6MTc0NDEyMTM1Nn0.gcK7jcYhfxEaXR5x10dgTQe4UfQkQjjC-PbaLJPuEWk"
  },
  "meta": {}
}



"name": "Morty_InspireInk",
        "email": "Morty-InspireInk@stud.noroff.no",

        "name": "Alfred_Mous",
        "email": "mam@stud.noroff.no",


         "name": "Test_user123",
        "email": "Test_user123@stud.noroff.no",
        pw = Test_user123